<!-- <div id="nav-accent">
  <div class="nav-accent-color" id="red"></div>
  <div class="nav-accent-color" id="blue"></div>
  <div class="nav-accent-color" id="brown"></div>
  <div class="nav-accent-color" id="green"></div>
  <div class="nav-accent-color" id="orange"></div>
  <div class="nav-accent-color" id="purple"></div>
  <div class="nav-accent-color" id="pink"></div>
  <div class="nav-accent-color" id="yellow"></div>
</div> -->
<nav>
  <div id="title">
    <%= link_to "Chicago Train Tracker", root_url %>
  </div>
  <div id="nav-links">
    <% unless current_user %>

      <div><%= link_to "Signup", '/signup' %></div>
      <div><%= link_to "Login", '/login' %></div>
    <% end %>
    <% if current_user %>
      <div><%= link_to "Profile", '/profile' %></div>
      <div><%= link_to "Logout", logout_path %></div>
    <% end %>
  </div>
</nav>
